# Unix / Linux
*.pid
*~
*.bak
*.tmp
.#*
.directory

# Patch
*.orig
*.old
*.rej

# VIM
.*.sw[po]
Session.vim
.vim/.netrwhist

# Git
.git

# Mercurial
.hg

# Subversion
.svn

# Python
build
dist
*.egg*
.coverage
nosetests.xml
*.py[co]
.tox
.venv*
__pycache__

# Java
*.class

# Android
*.apk
*.dex

# Mac OS X
.DS_Store

# Vim bundles
.vim/bundle/*

# Custom or large scripts and binaries
bin/bfg-*.jar
bin/ethminer
bin/gactions
bin/geth
