[core]
    editor = vim
    excludesfile = ~/.gitignore
    autocrlf = input
    savecrlf = true

[user]
    name = Sascha Peilicke
    email = sascha@peilicke.de
    signingkey = 2AD9B755

[branch]
    autosetupmerge = true

[merge]
    tool = vimdiff

[push]
    default = simple

[color]
    ui = auto

[alias]
    ama = am --abort
    ams = am --skip
    br = branch
    ba = branch -a
    co = checkout
    cp = cherry-pick
    ci = commit
    dc = diff --cached
    df = diff
    ds = diff --stat
    fa = fetch --all
    fp = fetch --prune
    fap = fetch --all --prune
    fo = fetch origin
    fp = format-patch
    lo = log --pretty=oneline --abbrev-commit
    lol = log --decorate --stat
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    pr = pull --rebase
    prom = pull --rebase origin master
    # Summary of what to push
    # like "git log", but include the diffs
    ps = log --pretty=oneline origin..master
    ra = rebase --abort
    rc = rebase --continue
    rs = rebase --skip
    #s  = stash
    sa = stash apply
    sc = stash clear
    sl = stash list
    sp = stash pop
    st = status
    wc = whatchanged
    wh = whatchanged -p
    wo = whatchanged -p origin..
    ghpr = "!f() { git fetch $1 refs/pull/$2/head:pr/$2; } ; f"

[sendemail]
    confirm = auto
    from = Sascha Peilicke <saschpe@mailbox.org>
    smtpencryption = ssl
    smtpserver = smtp.mailbox.org
    smtpserverport = 587
    smtpuser = saschpe@mailbox.org

[credential]
    helper = cache --timeout=3600

[gitreview]
    username = saschpe

[url "git://anongit.kde.org/"]
    insteadOf = kde:
[url "git@git.kde.org:"]
    pushInsteadOf = kde:
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
